.form-popup{
   
    display: none;
}

.container{
    display: flex;
    background-color:#d9d9d9;
    border-radius: 10px;
    max-width: 600px;
    padding: 10px;
}
.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;

}
#buttonid{
   float: right;
}
.close{
    margin-left: 150px;
    background: #753a88;
}
.close:hover{
    background: #cc2b5e;
}
.row{
    margin-left: 100px;
}
.btn{
    background:#753a88;
    margin-left:10px;
}
.btn:hover{
    background: #cc2b5e !important;
}
::placeholder{
    color: #070707;
    opacity: 0.5;
}
.input-field input[type=text]:focus+label{

        color: black!important;
} 
.input-field input[type=number]:focus+label{

    color: black!important;
} 
.row .input-field input:focus{
    border-bottom: 1px solid #753a88 !important;
    box-shadow: 0 1px 0 0 #753a88 !important;
}
#inputlabel{
    height: 80px;
    margin: 0px;
    padding: 10px 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #753a88;
}
.material-icons{
    float:right;
}
.btn-floating{
    background-color: #9e9e9e;
}

/*.row{
    display: flex;
}
.col{
    float: left;
    padding: 10px;
    flex: 50%;
    height: 300px;
}*/
