 /* body style */
body {
    width: 100%;
    height: 100%;
    background-color:#ffffff;
  }
 /* Header style */

  #header {
      margin-top: 0px;
    margin-left: 45px;
    background-color: #8e9b97;
      height: 100px;
      width: 1430px;
    
  }

/*contents font  */
  h2, h3, h4, h5, h6,li {
    font-family: 'Prata', serif;
   }

 /*H1 in header  */
  h1{
      font-family: 'Lato', sans-serif;
      font-size:30;
      font-weight: bolder;
      text-shadow: 2px 1.5px;
      color: #2c4a52;;
      position: absolute;
      top: 20px;
      left:55px;
      padding:10px;
      padding-bottom: 50px;
   /* transform: translate(-50%, -50%);*/
  }
 /* navigation Bar */
  div.navbar {
    display: flex;
    background-color: #537072;
    justify-content: flex-start;
   
 }

/* Search in navigation Bar */
 .navbar>input{
     float: left;
     margin-left: 65px;
    color: rgb(7, 7, 7);
    padding: 4px 20px;
    font-size: 17px;
    text-decoration: none;
    width: 500px;
    border: none;
    
}
/* List of links in navigation Bar */  
   .navbar>a {
    text-align: center;
    padding: 4px 30px;
    text-decoration: none;
    width:auto;
    font-size: 12px ;
    color: black;
   
  }
  /* Hover for List of links in navigation Bar */
   a:hover {
    
    color: rgb(255, 255, 255);
  }

/* Parent division for other divisions in body */
#main {
     
  margin-left: 45px;
  background-color: #8e9b97;
    height: auto;
    min-height:1200px;
    width: 1430px;
  
}

/* Participant List container*/
#participant
{  float: left;
    width: 35%;
    min-height: 500px;
    height: auto;
    margin: 40px;
    padding: 0;
    border-radius: 40px;
    background-color: #7a8683;
}

/* team List container*/
#team
{  float: right;
   width: 35%;
   min-height: 500px;
   height: auto;
   margin: 40px;
   padding: 0;
   border-radius: 40px;
   background-color:#7a8683;
}
/* generate button and note container*/
#chooseteam
{
    float:left;
    width: auto;
    padding: 10px;   
}

/* Generate team button*/
#create{
    border: none;
    padding: 60px 10px;
    border-radius: 90px;
    margin: 200px 25px 25px 40px;
    background-color:#415d5f;
    color:white;
}

/* Hover for generate button*/
#create:hover {
 
    background-color:#537072;
    color:black;
    border: none;
  }
/* Note to scroll down*/
  #note{
    float:block;
    width: auto;
    border-radius: 0px;
    margin: 410px 25px 25px 45px;
    padding: 5px 5px;
    border: none;
    background-color:#7a8683;
    color:black;
  }
/* header division of participant, team, and result*/  
 #inputlabel{
    height:60px;
    margin:0px;
    padding:10px 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #2c4a52;
    color:#ffffff   
}

/* input text of participant, team*/
.input
{

  width: 70%;
  margin : 30px 0 10px 25px;
  padding: 5px;
  float: left;
  font-size: 16px;
  border:none;
}

/* add button for participant and team list*/
#add_btn
{  
  padding: 5px;
  background: #d9d9d9;
  color: rgb(0, 0, 0);
  float: right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 2px;
  margin : 30px 25px 25px 0;
  width:15%;
  border: none;
  
}
#add_btn:hover {
  background-color:#537072;
}

/* unordered list in participant and team*/
#ulList
{

  width: 70%;
 margin-top: 0;
  margin: 0 20px 10px 20px;
  padding: 5px;
  float: left;
  font-size: 16px;
  border:none;
  color:black;
  font-size: 18px;
}

/* All ParticipantTeam List container*/
#ParticipantTeamList
{
    float: left;
    width: 93%;
    min-height: 400px;
    height: auto;
    margin: 40px;
    padding: 0px;
    border-radius: 40px;
    background-color: #7a8683;
}

/* each ParticipantTeam list container  */
#teamresult
{   float: left;
    min-width: 20%;
    min-height: 250px;
    padding: 0;
    border-radius: 40px;
    background-color: rgb(247, 245, 245);
    margin: 30px;
    
}
/* Header of each ParticipantTeam list */
#participantTeamListHead{
    height:40px;
    margin:0px;
    padding:10px 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #537072;
    color:#ffffff;
    text-align: center;
}

